<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>家計簿-入力画面</title>
	<link rel="stylesheet" href="/KakeiboWeb/css/InputForm.css" type="text/css">
	<link rel="stylesheet" href="/KakeiboWeb/css/util.css" type="text/css">
</head>
<body>
	<form id="input" action="/KakeiboWeb/InputWindowController" method="post" class="center">
		<p>
			<label>date:<input type="text" name="date"></label>
			<label>store:<input type="text" name="store"></label>
			<label>purchase:<input type="text" name="purchase"></label>
			<input type="submit" value="Submit">
		</p>
	</form>
</body>
</html>